/* colors */

* {
  al:      #00000000;
  bg:      #282A2E;
  se:      #373B41;
  fg:      #C5C8C6;
  ac:      #FDBB6Dff;
  red:     #EC7875;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
